{% extends "app/layout.html" %}

{% block contact %}
<strong><u>
{% endblock %}
{% block contact_end %}
</u></strong>
{% endblock %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Два Пекаря<br />
    Псков, ул. Ленина, 5<br />
    Псков, ул. Советская, 64<br />
    Псков, Октябрьский пр-т, 38<br />
    Псков, ул. Юбилейная, 42<br />
    Псков, ул, Рокоссовского, 42А<br />
    Псков, ул, Коммунальная, 15Б<br />
    <abbr title="Телефон">P:</abbr>
    8 (8112) 61-09-08<br />
    8 (8112) 61-09-07<br />
    8 (8112) 61-09-06<br />
    8 (8112) 61-09-05<br />
    8-921-000-11-04<br />
    8-921-000-10-04<br />
</address>

<address>
    <strong>Instagram:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>VK:</strong> <a href="https://vk.com/dvapekaryapskov">vk.com/dvapekaryapskov</a>
</address>

{% endblock %}
